# Ignore virtual environment
venv/
.env
*.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore temporary files and cache
*.swp
*.swo
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
*.iml
